/* general */

:root {
    --nav-background: rgb(250, 250, 250);
    --nav-text: rgb(19, 18, 18);
    --main-background: rgb(19, 18, 18);
    --main-text: rgb(200, 200, 200);
    --text-mobile: 3.15vw;
    --text-desktop: 1vw;
}

/* scroll snap */

html {
    scroll-snap-type: y mandatory;
}

#introduction-layout, #residence-layout, #experience-layout {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
}

/* layouts < mobile > */

#main-layout {
    display: flex;
    flex-direction: column;
}

#introduction-layout, #about-layout, #residence-layout, #experience-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-text);
}

/* text style < mobile > */

header {
    font-size: 5vw;
    margin-top: 5vw;
}

.morse-divider {
    font-size: var(--text-mobile);
}

section {
    font-size: var(--text-mobile);
    text-align: justify;
    color: var(--main-text);
    margin-top: 2vw;
    width: 80vw;
}

#introduction-text-block {
    flex-direction: column;
}

#map-text {
    margin-top: 2vw;
}

#experience-text {
    margin-top: 2vw;
    order: 3;
    transform: translateY(-2vw);
}

#experience-header {
    flex-direction: column;
    order: 2;
    transform: translateY(-2vw);
}

/* images < mobile > */

#home-image {
    width: 80vw;
    height: auto;
    border-radius: 5vw;
}

#residence-history-map {
    width: 80vw;
    height: auto;
    margin-top: 5vw;
    border-radius: 5vw;
}

#experience-history-interface {
    width: 80vw;
    height: auto;
    margin-top: 0;
    order: 2;
    border-radius: 5vw;
    transform: translateY(-2vw);
}

/* desktop configurations */

@media (min-width: 768px) {

    /* layouts < desktop > */

    #main-layout {
        display: flex;
        flex-direction: column;
    }

    #about-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--main-text);
    }

    #introduction-layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: var(--main-text);
        gap: 5vw;
    }

    #residence-layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: var(--main-text);
        gap: 5vw;
    }

    #experience-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        color: var(--main-text);
    }

    #experience-header {
        flex-direction: column;
        grid-column: 2;
        grid-row: 1;
        transform: translateY(-6.5vw);
    }

    /* text style < desktop > */

    header {
        font-size: 2vw;
        margin-top: 0;
    }

    .morse-divider {
        font-size: var(--text-desktop);
    }

    section {
        font-size: var(--text-desktop);
        margin-top: 0.75vw;
        width: 80vw;
    }

    #introduction-text-block {
        width: 50vw;
    }

    #map-text {
        width: 50vw;
        order: 1;
        margin-top: 0.75vw;
    }

    #experience-text {
        width: 50vw;
        margin-top: 0.75vw;
        grid-column: 2;
        grid-row: 1;
        transform: translateY(0);
    }

    /* images < desktop > */

    #home-image {
        width: 25vw;
        height: 25vw;
        border-radius: 2vw;
    }

    #residence-history-map {
        width: 25vw;
        height: auto;
        order: 2;
        margin-right: 5vw;
        margin-top: 0;
        border-radius: 2vw;
    }

    #experience-history-interface {
        display: flex;
        width: 25vw;
        height: auto;
        grid-column: 1;
        grid-row: 1;
        border-radius: 2vw;
        transform: translateY(0);
    }
    
}